body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #fdfdfd;
}

.container {
  max-width: 450px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 15px;
  background: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

input[type="text"] {
  width: 94.5%;
  padding: 12px;
  margin-top: 8px;
  margin-bottom: 14px;
  border-radius: 8px;
  border: 1px solid #bbb;
  font-size: 15px;
}

button {
  width: 100%;
  padding: 12px;
  background-color: #4caf50;
  border: none;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 16px;
}

.result-box {
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  display: none;
}

/* 관리자 페이지 버튼 */
.admin-btn-area {
  text-align: right;
  margin-top: 10px;
}
.admin-btn {
  background: none;
  border: none;
  color: #444;
  cursor: pointer;
  font-size: 13px;
  padding: 0;
  text-decoration: underline;
}

.circle-check {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #555;
  appearance: none;
  cursor: pointer;
  position: relative;
}

.circle-check:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

.circle-check:checked::after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  background: white;
  border-radius: 50%;
}
